<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>COBOL Admin</title>
    <link rel='stylesheet' href='/static/style.css'>
</head>

<body>
    <nav>
        <h2><a href='/'>COBOL Admin</a></h2>{{nav}}
    </nav>
    <main>
        {{content}}
        <footer>
            <a href='https://github.com/marmelab/COBOL-admin'>GitHub repository</a>
            <a href='https://github.com/marmelab/COBOL-admin/graphs/contributors'>Contributors</a>
        </footer>
    </main>
</body>

</html>
